---
import Titulo from "../../components/Titulo.astro";
import Check from "../../svg/Check.astro";


---

<section class="py-20 bg-white px-2">
  <div class="max-w-screen-lg mx-auto">
    <div class="p-4 lg:p-8 rounded border-2 border-rosado-market">
      <div class="text-center">
        <Titulo>¿Qué tiene Hello Marketeros para ti?</Titulo>
      </div>
      <div class="mt-12 space-y-4 max-w-[750px] mx-auto">
        
      </div>
    </div>
  </div>
</section>