---
import { CheckoutProducto, URL_BASE, URL_WEB_CHECKOUT } from "../../constans";
import Calltoaction from "../../components/Calltoaction.astro";
---

<div class="mt-16 flex justify-center">
  <div class="text-center">
    <div class="flex flex-col md:flex-row gap-4 justify-center items-center">
      <!-- Precio Regular -->
      <div
        class="text-red-600 border-4 border-red-600 p-8 rounded-lg flex flex-col items-center"
      >
        <p class="text-2xl font-semibold">PRECIO REGULAR</p>
        <span class="text-xl">UN PAGO ÚNICO DE</span>
        <div class="flex items-center mt-2 relative text-3xl font-bold">
          <span class="mb-10">$</span>
          <span class="text-7xl line-through">297</span>
          <span class="mt-12">usd</span>
        </div>
      </div>

      <!-- Precio Especial -->
      <a
        href={URL_WEB_CHECKOUT + CheckoutProducto}
        class="bg-morado-market border-4 border-morado-market text-white p-8 rounded-lg flex flex-col items-center min-w-80"
      >
        <div class="flex items-center py-2">
          <svg
            class="w-7 h-7 text-yellow-300 ms-1"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 20"
          >
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
            ></path>
          </svg>
          <svg
            class="w-7 h-7 text-yellow-300 ms-1"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 20"
          >
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
            ></path>
          </svg>
          <svg
            class="w-7 h-7 text-yellow-300 ms-1"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 20"
          >
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
            ></path>
          </svg>
          <svg
            class="w-7 h-7 text-yellow-300 ms-1"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 20"
          >
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
            ></path>
          </svg>
          <svg
          class="w-7 h-7 text-yellow-300 ms-1"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 20"
        >
          <path
            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
          ></path>
        </svg>
        </div>
        <p class="text-3xl font-semibold">PRECIO ESPECIAL</p>
        <span class="text-2xl">(AHORRA $200 USD)</span>
        <div class="flex items-center mt-2 text-5xl font-bold">
          <span class="mb-12">$</span>
          <span class="text-9xl">97</span>
          <span class="mt-14">usd</span>
        </div>
      </a>
    </div>
    <div class="flex flex-col items-center mt-12">
      <img src={URL_BASE + "img/creditcard.webp"} alt="Tarjetas aceptadas" />
      <span class="text-xl font-semibold">Pago seguro por Stripe</span>
    </div>
  </div>
</div>
<div class="mt-16 flex justify-center">
  <Calltoaction />
</div>
