---
import { URL_WEB_CHECKOUT, CheckoutProducto } from "../constans";

const URL = URL_WEB_CHECKOUT + CheckoutProducto;
---

<a
  href={URL}
  target="_blank"
  rel="noopener"
  class="text-2xl ld:text-4xl inline-block px-5 py-2 text-morado-market transition-colors duration-150 bg-verde-market rounded-full focus:shadow-outline font-bold"
>
  ¡Inscríbete ahora!
</a>
