---
const {fontsize = 'text-4xl' } = Astro.props;
---

<a
  href="#"
  class=`${fontsize} inline-block px-5 py-2 text-morado-market transition-colors duration-150 bg-verde-market rounded-full focus:shadow-outline font-bold`
>
  <slot />
</a>
