---
const {titulo, subtitulo, color} = Astro.props;
---

<article class={"col-span-2 border-4 rounded-xl p-8 border-"+color}>
  <div class="flex flex-col justify-between">
    <div class={"bg-"+color + " w-20 h-20 rounded-full"}></div>
    <h3 class={"text-"+color+" text-5xl font-bold mt-6"}>
      {titulo}
    </h3>
    <h4 class="text-gray-500 font-bold text-xl mt-6">
      {subtitulo}
    </h4>
  </div>
  <div class="mt-10">
    <p class="text-gray-500 ">
      <slot />
    </p>
  </div>
</article>

