---
const { modulo } = Astro.props;
---

<article class="p-4 rounded-3xl border border-gray-200">
  <p class="font-bold text-xl">
    {modulo.modulo}
  </p>
  <div class="mt-4">
    <ul>
      {
        modulo.secciones.map((item: string) => (
          <li class="relative pl-6 ml-6">
            <span class="absolute left-0 top-0 h-full flex items-center">
            ✅
          </span>
            {item}
          </li>
        ))
      }
    </ul>
  </div>
</article>