---
const { modulo } = Astro.props;
---

<article class="p-8 rounded-3xl border border-morado-market">
  <p class="font-bold text-2xl">
    {modulo.modulo}
  </p>
  <div class="mt-4">
    <ul>
      {
        modulo.secciones.map((item: string) => (
          <li class="relative pl-10 ml-6 text-xl">
            <span class="absolute left-0 top-0 h-full flex items-center">
              ✅
            </span>
            {item}
          </li>
        ))
      }
    </ul>
  </div>
</article>