---
const { color } = Astro.props;
---

<article
  class="p-8 rounded-xl border-2 shadow-xl shadow-rosado-market/20 bg-white"
  style=`border-color: ${color}; color: ${color} ;`
>
  <div class="card1__img">
    <div class="w-fit">
      <p class="text-6xl">
        😖
      </p>
      <div class="h-1 w-5/6 mx-auto mt-3" style=`background-color: ${color};`></div>
    </div>
  </div>
  <div class="mt-12">
    <p class="font-semibold text-gray-texto text-xl">
      <slot />
    </p>
  </div>
</article>
