---
import { URL_BASE } from "../constans";

const { img, subtitulo, copy } = Astro.props;
---

<article class="p-8 flex flex-col lg:flex-row justify-between xl:w-[80%] mx-auto gap-8 lg:gap-16">
  <div class="basis-3/5">
    <div>
      <img
        src={URL_BASE + "img/modulos/" + img + ".webp"}
        alt="Imagen de la tarjeta"
        class="w-full"
        loading="lazy"
      />
    </div>
  </div>
  <div class="basis-2/5 my-auto">
    <div >
      <p class="text-gray-texto mt-6 text-xl font-semibold" set:html={copy} />
    </div>
  </div>
</article>
