---
import { URL_BASE } from "../constans"

const {img, color, colorText} = Astro.props;
---

<li class="flex flex-col lg:flex-row" style=`background-color: ${color}; color: ${colorText};` ;>
  <div class="basis-1/2 flex items-center p-16">
    <p class="font-semibold text-4xl">
      <slot/>
    </p>
  </div>
  <div class="basis-1/2">
    <img width="461" height="307" class="max-w-full h-auto" src={URL_BASE + "iconos/"+img+".webp"} alt="Icono">
  </div>
</li>