---
import { URL_BASE } from "../constans"

const {img, color, colorText} = Astro.props;
---

<li class="flex flex-col lg:flex-row lg:justify-between" style=`background-color: ${color}; color: ${colorText};` ;>
  <div class="basis-1/2 flex items-center p-16">
    <p class="font-semibold text-4xl">
      <slot/>
    </p>
  </div>
  <div class="basis-1/2 max-w-[450px]">
    <div class="p-8">
      <img width="488" height="319" class="max-w-full h-auto lg:mt-12" src={URL_BASE + "iconos/"+img+".webp"} alt="Icono">
    </div>
  </div>
</li>