---
import { URL_BASE } from "../constans"
---

<div class="absolute right-0 top-0 w-56 h-[171px]">
  <img width="224" height="171" class="max-w-full h-auto" src={URL_BASE + "img/ribbow.webp"} alt="Ribbow with logo market support">
</div>