---
import { URL_BASE } from "../constans";
import Titulo from "../components/Titulo.astro";
---

<section class="-mt-96 lg:-mt-[26rem] overflow-hidden relative z-10">
  <div class="max-w-[1200px] mx-auto p-2">
    <div class="flex flex-col lg:flex-row">
      <div class="basis-1/2">
        <div class="relative z-10">
          <img
            loading="lazy"
            src={URL_BASE + "img/astronauta.webp"}
            alt="Astronauta"
          />
        </div>
      </div>
      <div class="basis-1/2 flex flex-col justify-end py-8">
        <div class="p-4 lg:p-12 text-center lg:text-left">
          <Titulo>
            ¡Este curso <br class="hidden lg:block" /> es para ti!
          </Titulo>
        </div>
        <div
          id="cuadromorado"
          class="bg-morado-market shadow-md shadow-rosado-market/50 p-4 lg:p-12 lg:rounded-br-full lg:rounded-tr-[4000px] relative"
        >
          <p class="text-white text-2xl leading-10">
            En un mundo sobresaturado de información es normal que te sientas
            abrumado Pero es aquí donde puedes decidir transformar el agobio en
            la tranquilidad de saber cómo tener el control de la transformación
            digital de tu negocio
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #cuadromorado::before {
    content: "";
    position: absolute;
    top: 0;
    left: -70%;
    width: 70%;
    height: 100%;
    background-color: #692394;
  }
</style>
