---
import Card1 from "../components/Card1.astro";
---

<section class="pt-24 pb-[30rem] lg:pt-48 bg-lila-fondo">
  <div class="max-w-screen-lg mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12 p-2">
      <Card1 color="#692394">
        ¿te preguntas…en qué momento aprenderé tanto de marketing digital para
        lograr sacar mi negocio adelante?
      </Card1>
      <Card1 color="#c21f8c">
        ¿Estás luchando con campañas que no generan resultados?
      </Card1>
      <Card1 color="#c21f8c">
        ¿Quisieras contratar a alguien para que te haga el marketing, pero no
        sabes qué competencias debe tener esta persona para que funcione en tu
        proyecto?
      </Card1>
      <Card1 color="#00ef04">
        ¿Te sientes abrumado por la competencia, el bombardeo de información en
        redes sociales y las constantes actualizaciones del marketing digital?
      </Card1>
      <Card1 color="#692394">
        ¿Te falta tiempo para aprender y aplicar nuevas estrategias a tu
        negocio?
      </Card1>
      <Card1 color="#c21f8c">
        ¿Tu empresa está perdiendo clientes porque no logras enfocarte en las
        ventas?
      </Card1>
    </div>
  </div>
</section>
