---
import Calltoaction from "../components/Calltoaction.astro";
import { URL_BASE } from "../constans";
---

<main>
  <section
    class="bg-img"
    style=`background-image: url(${URL_BASE + "img/bg.webp"});`
  >
    <div class="max-w-[1200px] mx-auto pt-8 lg:pt-16 flex flex-col lg:flex-row justify-center gap-8 lg:gap-0 px-2">
      <div class="basis-1/2">
        <div class="w-40 h-[116px] lg:w-60 lg:h-[173px]">
          <img
            src={URL_BASE + "img/logohello.webp"}
            alt="Logo Hello marqueteros"
            width="240"
            height="174"
            class="max-w-full h-auto"
          />
        </div>
      </div>
      <div  class="basis-1/2"></div>
    </div>
    <div class="max-w-[1200px] mx-auto py-8 lg:py-10 flex flex-col lg:flex-row justify-center gap-8 px-2">
      <div class="basis-[55%]">
        <div class="space-y-6">
          <p class="text-xl text-gray-700 md:text-2xl">
            ¿Necesitas introducir el marketing digital a tu negocio, pero no sabes cómo hacerlo?
          </p>
          <h1 class="text-4xl font-bold tracking-tighter sm:text-5xl md:text-6xl md:leading-[1.1]">
            ¡Despierta!  
            <span class="block text-rosado-market">de novato a estratega para posicionar tu marca</span>
          </h1>
          <p class="text-lg text-gray-700 md:text-xl">
            Estás a un paso de aprender a replicar las técnicas de marketing más exitosas de las grandes compañías del mundo en tu negocio
          </p>
          <Calltoaction />
        </div>
      </div>
      <div class="basis-[45%] flex">
        <div class="w-full">
          <img
            width="592"
            height="688"
            class="max-w-full h-auto sombra"
            src={URL_BASE + "img/sandyhero.webp"}
            alt="Imagen de mujer sonriendo con un portatil en la mano"
          />
        </div>
      </div>
    </div>
    <div class="bg-morado-market w-full text-white py-8">
      <p class="max-w-[1200px] mx-auto text-3xl text-center px-2 text-balance">
        El <span class="font-bold">entrenamiento rápido</span> y <span class="font-bold">concreto</span> donde aprenderás el <span class="font-bold">paso a paso</span> para posicionar tu <span class="bg-verde-market text-morado-market my-px">marca</span> y <span class="bg-verde-market text-morado-market my-px">aumentar las ventas</span> usando las técnicas de marketing de las <span class="font-bold">grandes compañías.</span>
      </p>
    </div>
  </section>
</main>

<style>
  .bg-img {
    background-size: cover;
    background-position: center;
  }
  .text-morado-market {
    color: #6b2b9b;
  }

  .sombra {
    filter: drop-shadow(15px 25px 40px #c21f8c);
  }
</style>
