---
import Calltoaction from "../components/Calltoaction.astro";
import { URL_BASE } from "../constans";
---

<main>
  <section
    class="bg-img"
    style=`background-image: url(${URL_BASE + "img/bg.webp"});`
  >
    <div
      class="max-w-[1200px] mx-auto py-8 lg:py-16 flex flex-col lg:flex-row justify-center gap-8 lg:gap-0 px-2"
    >
      <div class="basis-[50%] space-y-16">
        <div class="w-40 h-[116px] lg:w-60 lg:h-[173px]">
          <img
            src={URL_BASE + "img/logohello.webp"}
            alt="Logo Hello marqueteros"
            width="240" height="174" class="max-w-full h-auto"
          />
        </div>
        <div class="space-y-8">
          <h1 class="text-morado-market text-4xl leading-[1.2] font-bold text-balance">
            EL ENTRENAMIENTO <span class="bg-verde-market my-px inline-block rounded-xl px-1">RÁPIDO</span>,</br> <span class="bg-verde-market my-px inline-block rounded-xl px-1">CONCRETO</span> Y <span class="bg-verde-market my-px inline-block rounded-xl px-1">PRECISO</span> PARA APLICAR LAS <span class="bg-verde-market my-px inline-block rounded-xl px-1">TÉCNICAS EXITOSAS</span> DE <span class="bg-verde-market my-px inline-block rounded-xl px-1">MARKETING</span> DE LAS GRANDES COMPAÑÍAS EN EL MUNDO, AHORA EN TU NEGOCIO.
          </h1>
          <p class="text-3xl font-semibold text-gray-texto text-balance">
            TE ENTRENAS O TE ENTIERRAS
          </p>
          <Calltoaction />
        </div>
      </div>
      <div class="basis-[50%] flex items-end">
        <div class="w-full">
          <img
            width="592" height="688" class="max-w-full h-auto lg:-mb-24 xl:-mb-44 sombra"
            src={URL_BASE + "img/sandyhero.webp"}
            alt="Imagen de mujer sonriendo con un portatil en la mano"
          />
        </div>
      </div>
    </div>
    <div class="bg-morado-market w-full text-white py-2">
      <p class="max-w-[1200px] mx-auto text-3xl text-center md:text-start px-2">
        ¡Y comienza tu <span class="font-bold">transformación digital!</span>
      </p>
    </div>
  </section>
</main>

<style>
  .bg-img {
    background-size: cover;
    background-position: center;
  }
  .text-morado-market {
    color: #6b2b9b;
  }

  .sombra {
    filter: drop-shadow(15px 25px 40px #c21f8c);
  }
</style>
