---
import Card2 from "../components/Card2.astro";
import Titulo from "../components/Titulo.astro";
import { URL_BASE } from "../constans";

const modulos = [
  {
    subtitulo: "Fundamentos para Construir tu marca desde cero y expandirla",
    parrafo: "Comprenderás los principios esenciales para establecer y hacer crecer una marca en el mercado. Exploraras cómo adaptar estrategias globales a audiencias locales para maximizar el impacto."
  },
  {
    subtitulo: "Estrategia de Marketing y Desarrollo de Marca",
    parrafo: "Aprenderás y te entrenaras para detectar oportunidades en el mercado. Conocerás cómo segmentar a tus posibles compradores para hacer efectivas tus campañas. Aprenderás a identificar y conocer a tu comprador ideal - buyer persona.",
  },
  {
    subtitulo: "Revisiones claves en el desarrollo exitoso de una marca",
    parrafo: "Comprenderás la importancia de una buena contabilidad y el poder de las finanzas. <br/>Dominarás las plataformas y herramientas digitales clave para implementar campañas de marketing exitosas. <br/>Aprenderás sobre una gestión eficaz de servicios digitales y la optimización de recursos.",
  },
  {
    subtitulo: "Implementación y Optimización",
    parrafo: "Comprenderás los principios esenciales para establecer y hacer crecer una marca en el mercado. Exploraras cómo adaptar estrategias globales a audiencias locales para maximizar el impacto.",
  },
  {
    subtitulo: "Casos de Éxito y Conclusiones",
    parrafo: "Aprenderás sobre casos de éxito y también sobre errores que otras marcas han vivido. Lecciones aprendidas y mejores prácticas para aplicar en tu propia carrera profesional.",
  }
];

---

<section class="pb-44">
  <div class="max-w-[1200px] mx-auto p-2">
    <div class="text-center">
      <Titulo>
        Descubre lo que aprenderás en nuestros 5 potentes módulos:
      </Titulo>
    </div>
    <div class="mt-24">
      <div class="modulos">
        {
          modulos.map((modulo, index) => (
            <Card2 img={index + 1} subtitulo={modulo.subtitulo} copy={modulo.parrafo}/>
          ))
        }
      </div>
    </div>
    <div class="mt-24">
      <div class="flex justify-center">
        <img width="700" height="307" class="max-w-full h-auto" src={URL_BASE + "img/modulos/modulos.webp"} alt="Imagen con todos los modulos">
      </div>
    </div>
  </div>
</section>

<style is:global>
  .modulos article:not(:last-child) {
    border-bottom: 3px solid #692394; /* Ajusta el color y grosor del borde según tus necesidades */
  }
</style>