---
import Calltoaction from "../components/Calltoaction.astro";
import { URL_BASE } from "../constans";
---

<section class="py-24 lg:py-44">
  <div class="max-w-[1200px] mx-auto p-2">
    <div class="flex flex-col lg:flex-row gap-8">
      <div class="xl:basis-2/5 flex items-center">
        <div>
          <h2 class="text-4xl font-bold text-morado-market">
            En este curso, aprenderás directamente con Sandy Barón,
          </h2>
          <p class="mt-8 text-gray-500">
            Experta en inteligencia de mercados, con más de 14 años de
            experiencia en el mercado publicitario, trabajando con marcas
            reconocidas en más de 100 campañas publicitarias en los últimos 3
            años en Latinoamérica y Estados Unidos.
          </p>
          <p class="mt-6 text-gray-500">
            Te brindaremos las herramientas y conocimientos necesarios para
            entender el abrumador mundo del marketing digital y como sentar
            bases sólidas para que tu negocio pueda crecer, consolidarse y
            escalar.
          </p>
        </div>
      </div>
      <div>
        <div>
          <img src={URL_BASE + "img/mientras.png"} alt="" />
        </div>
      </div>
    </div>
    <div class="mt-20">
      <div class="w-fit mx-auto">
        <Calltoaction fontsize="text-xl lg:text-3xl">
          ¡Reserva tu lugar hoy y da el primer paso hacia la construcción de tu
          marca!
        </Calltoaction>
      </div>
    </div>
  </div>
</section>
